@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<LivrariaDDD.Domain.Entities.Livro>

<div class="text-center">
    @foreach (LivrariaDDD.Domain.Entities.Livro item in Model)
    {
        <p>
            @item.Nome + @item.LivroGeneros.First().Genero.Nome
        </p>
    }
</div>
